**/.gitkeep
**/.vscode
**/.build
**/.nuke
.dockerignore
.editorconfig
.github
.gitignore
**/config*.yaml
docs
LICENSE

# directories
**/bin/
**/obj/
**/out/

# files
Dockerfile*
docker-compose.yml
**/*.trx
**/*.md
**/*.ps1
**/*.cmd
**/*.sh

# gitversion
.git/gitversion_cache